<md-dialog aria-label="BackUp center">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Back Up</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout-padding="">
                <input type="file" file="file" name="file"/>
            </div>
        </md-dialog-content>

        <md-dialog-actions  style="padding: 8px; padding-bottom: 0">
            <md-button style="margin-right: 8px" class="md-raised md-accent" type="submit" form="backUpForm" ng-click="upload()">
                <i class="material-icons">cloud_upload</i>
            </md-button>
            <span flex></span>
            <md-button style="margin-right: 8px" class="md-primary md-raised" ng-click="generate(format)" md-autofocus>
                <i class="material-icons">cloud_download</i>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>