<md-dialog aria-label="inputBoolean">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>boolean</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content layout-padding="" style="padding: 9px">
            <md-input-container style="width: 100%; margin-top: 33px;" md-no-float class="md-block">
                <label>Name</label>
                <input ng-model-options="{ allowInvalid: true, debounce: 1000 }" ng-change="changeString()" id="inputName" ng-model="inputName" placeholder="Name"/>
            </md-input-container>
            <md-switch aria-label="switchBoolean" ng-change="changeString()" id="inputBoolean" ng-model="inputBoolean">
                {{ inputBoolean }}
            </md-switch>

        </md-dialog-content>

        <md-dialog-actions  style="padding: 8px; padding-bottom: 0">
            <md-button style="margin-right: 8px" class="md-raised md-warn md-icon-button" ng-click="delete()">
                <i class="material-icons">delete</i>
            </md-button>
            <span flex></span>
        </md-dialog-actions>
    </form>
</md-dialog>