<div class="container-fluid" ng-controller="settingListController">
    <md-button class="setting-fab-button md-accent md-fab md-fab-bottom-right" ng-click="newSetting($event)">
        <i class="material-icons">add</i>
    </md-button>


    <div class="row">
        <md-card>
            <md-list ng-cloak>
                <div flex style="text-align: center">
                    <md-button class="md-raised md-primary md-icon-button" ng-click="showBackUpCentre($event)">
                        <i class="material-icons">save</i>
                    </md-button>
                </div>


                <md-list-item style="margin-top: 9px" ng-repeat="setting in settings" ng-click="click($event, setting)">
                    <p> {{ setting.name }} - {{setting.dataType[0]}}</p>
                    <span ng-if="setting.dataType[0] === 'integer'">{{setting.valueInteger}}</span>
                    <span ng-if="setting.dataType[0] === 'string'">{{setting.valueString}}</span>
                    <span ng-if="setting.dataType[0] === 'boolean'">{{setting.valueBoolean}}</span>
                </md-list-item>
            </md-list>
        </md-card>
    </div>
</div>