<div class="container-fluid" ng-controller="audioDetailController">
    <div class="row">
        <md-card>
            <md-card-content>
                <div layout="row">
                    <md-input-container style="width: 100%">
                        <label>Title</label>
                        <input ng-model="entry.name"/>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container style="width: 100%">
                        <label>Genres</label>
                        <md-select ng-model="entry.genres"
                                   md-on-close="clearSearchTerm()"
                                   data-md-container-class="selectdemoSelectHeader"
                                   multiple>
                            <md-select-header class="demo-select-header">
                                <input ng-model="searchTerm"
                                       type="search"
                                       placeholder="Search..."
                                       class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-optgroup label="Genres">
                                <md-option ng-value="genre" ng-repeat="genre in genres | filter:searchTerm">{{genre}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container style="width: 100%">
                        <label>URL</label>
                        <input required ng-model="entry.trackUrl"/>
                    </md-input-container>

                    <md-input-container ng-show="entry.type === 'SoundCloud' || entry.type === 'MixCloud'">
                        <label>Track ID</label>
                        <input required disabled ng-model="entry.trackId"/>
                    </md-input-container>

                </div>

                <div layout="row" layout-align="center">
                    <md-button class="md-raised" ng-if="entry.trackUrl" ng-hide="entry.type[0] === 'local'" ng-click="getId()">Create Widget</md-button>
                </div>

                <div layout="row" layout-align="center" id="remote" ng-show="entry.type[0] === 'local' || entry.type[0] === 'remote'" ng-hide="experimentalSelected">

                    <audio id="audio" controls="" autoplay="" name="media">
                        <source id="audioSource">
                    </audio>
                    <br>
                </div>

                <div layout="row" layout-align="center">
                    <md-button class="md-raised" ng-if="entry.type[0] === 'local'" ng-click="loadLocal()" ng-hide="experimentalSelected">Load experimental Widget</md-button>
                </div>


                <md-slider-container id="zoom">
                    <span ng-click="zoomReset()">Zoom</span>
                    <md-slider flex ng-model="zoom" ng-change="zoomChanched()" min="0" max="200" aria-label="zoom" class="md-primary">
                    </md-slider>
                </md-slider-container>

                <div id="waveform"></div>

                <md-slider-container id="volume">
                    <span ng-click="mute()">Volume</span>
                    <md-slider flex ng-model="volume" ng-change="volumeChanched()" min="0" max="100" aria-label="volume" class="md-primary">
                    </md-slider>
                </md-slider-container>

                <div style="text-align: center">
                    <md-button class="md-primary" id="playPause" ng-click="playPause()">{{playPauseStatus}}</md-button>
                    <p class="row">
                        <div id="equalizer" style="margin-top: 10px"></div>
                    </p>
                </div>

                <div layout="row" layout-align="center" id="widget"></div>

                <div layout="row" layout-align="right">
                    <md-button class="md-accent" ng-click="delete($event)">delete</md-button>
                    <md-button class="md-raised" ng-click="save()">save</md-button>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>