<div class="container-fluid" ng-controller="audioListController">
    <div class="row">
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="audio in audios | filter:query" ng-href="/#!/audio/{{audio._id}}">
                <div class="md-list-item-text" layout="column">
                    <h3><img width="25" ng-if="audio.type[0] === 'SoundCloud'" src="/img/icons/soundcloud.png"/><img width="25" class="mixCloudIcon" ng-if="audio.type[0] === 'MixCloud'" src="/img/icons/mixcloud.png"/> {{ audio.name }}</h3>
                    <p>{{ audio.Created_date }}</p>
                </div>


            </md-list-item>
            <md-divider ></md-divider>
        </md-list>




    </div>
</div>























    </div>
</div>